:host {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;

    /* top: 24px; */
    /* padding-bottom: 6px; */
}

.timeText {
    /* margin-right: 50px; */
}

#slider {
    max-width: 450px;
    width: 30vw;
}