html,
body {
  margin: 0;
  padding: 4px;
  min-height: 52px;
  max-height: 52px;

  overflow: hidden;

  height: 100%;
  font-family: Helvetica, Helvetica, sans-serif;
  
  border-radius: 8px;
  background-color: #121212;
}

