<div class="container">
  PAGE HOME
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <div *ngIf="apiKey">
    <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
    <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
    <button (click)="toggle()"> play pause </button>
    <button (click)="skip()"> skip </button>
    <div></div>

  </div>
  <div *ngIf="!apiKey">
    <h2>Veuillez renseigner votre clé API dans le menu "Account"</h2>
  </div>

</div>