<!-- <div class="app-titlebar">
  <span class="app-title"></span>

  <button class="account-btn no-drag" (click)="onAccount()">Account</button>

  <div class="window-controls no-drag">
    <button class="min-btn" title="Minimize" (click)="minimize()">&#xE921;</button>
    <button class="max-btn" [class.restore]="isMaximized" title="{{ isMaximized ? 'Restore' : 'Maximize' }}"
      (click)="toggleMaxRestore()">
      {{ isMaximized ? '&#xE923;' : '&#xE922;' }}
    </button>
    <button class="close-btn" title="Close" (click)="close()">&#xE8BB;</button>
  </div>
</div> -->


<main class="draggable">
  <div *ngIf="apiKey">
    <div class="container">
      <button (click)="toggle()"> play pause </button>
      <button (click)="skip()"> skip </button>
    </div>
  </div>

  <div *ngIf="!apiKey">
    <h2>Veuillez renseigner votre clé API dans le menu "Account"</h2>
  </div>
</main>